---
type Props = {
  id: string;
  headingId: string;
  subtitle: string;
  title: string;
  linkConfig: {
    text: string;
    ariaLabel: string;
    href?: string;
  };
  className?: string;
};

const { id, headingId, subtitle, title, linkConfig, className = '' } = Astro.props;
---

<section
  aria-labelledby={headingId}
  id={id}
  class={`flex items-center justify-center flex-col h-80 sm:mx-2 mb-20 ${className}`}
>
  <h3 id={headingId} class="uppercase mb-5 text-sm tracking-base text-caption font-black">
    {subtitle}
  </h3>

  <p class="text-4xl font-bold text-center tracking-tight text-headline mb-10 max-w-3xl">
    {title}
  </p>

  <a
    href={linkConfig.href}
    class="uppercase bg-accent-5 font-bold py-2 px-4 rounded-base text-typo-3 text-sm flex items-center gap-2 hover:bg-accent-2 hover:text-white transition-colors"
    aria-label={linkConfig.ariaLabel}
  >
    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
    </svg>
    <span>{linkConfig.text}</span>
  </a>
</section>
